<!--
  Made by Teaddy Studio's Developer and Website Dev
-->
<meta charset="UTF-8">
<meta name="author" content="Teaddy Studio Developers">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#96dbff">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<title class="browser-title"><%= settings.meta.title %></title>
<!-- SEO -->
<meta name="title" content="<%= settings.meta.title %>">
<meta name="description" content="<%= settings.meta.description %>">
<meta name="keyworkds" content="website, teaddy">
<meta name="apple-mobile-web-app-title" content="Teaddy Studio">
<!-- SNS Share -->
<!-- Facebook -->
<meta property="og:site_name" content="<%= settings.meta.title %>">
<meta property="og:title" content="<%= settings.meta.title %>">
<meta property="og:description" content="<%= settings.meta.description %>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= settings.meta.url %>">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%= settings.meta.title %>">
<meta name="twitter:description" content="<%= settings.meta.description %>">
<meta name="twitter:url" content="<%= settings.meta.url %>">
